:root {
    --ejm-grey: #1d1c1c;
    --ejm-green: #00ff41;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--ejm-grey);
    color: white;
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5 {
    color: var(--ejm-green);
}

.code {
    font-family: "Courier New";
    font-weight: 600;
    text-shadow: 0px 0px 14px var(--ejm-green);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.center {
    justify-content: center;
    align-items: center;
}

.portfolio-pic {
    width: 180px;
    border-radius: 50%;
}